*{
    
}
body{
    margin: 0 auto;
    text-align: center;
    width: 90%;
    background-color:#fff;
}

#headerPrincipal{

    border-bottom: 10px;
    margin-bottom: 15px ;
    
    
}
.banner{
    margin-bottom: 10px;
}
#navPrincipal{
    background-color: rgba( 10, 9, 9, 0.986 );
    margin: 20px;
    padding: 10px;
}
#navPrincipal ul {
      background-color: rgba( 26, 29, 26, .7 );
    margin: 0 auto;
    margin-bottom: 10px;    
    border-radius: 5px;
    font-family: sans-serif;
}
#navPrincipal ul li{
    margin:  auto;
    align-content: center;
  
    list-style: none;
    text-align: center;
    display: inline-block;
    padding: 10px;
    border-radius:10px;
   
    box-shadow: 10px ;
 
}
#navPrincipal ul li:hover{
    background-color:rgba( 28, 18, 17, 0.017 );
    color: #fff;
    
}

/*parte principal de*/
#rightPrincipal{
    
    vertical-align: top;
    background-color:#e8eae5;
    display:inline-block;
    width: 24%;
    text-align: center;
    align-content: flex-end;    
     
}


#sectionprincipal{
    
    vertical-align: top;
    align-content: center;
    background-color: #fff;
    display: inline-block;
    width: 51.1%;
    text-align: center;
    margin: 1px;
    margin-bottom: 15px;
     
    
}

#leftPrincipal{
    vertical-align: top;
    background-color: #fff;
    width: 24%;
    display: inline-block;
}
article{
    background-color: #FFF;
}

/* parate final de principal*/
#footerPrincipal{
    border-top:10px;
    background-color: #111310;
    width: 100%;
    color: #fff;
    padding: 30px;
}



/*para una celular*/
/*
@media screen and (max-width: 100px) {
    body {
        background-color: lightgreen;
    }
   
    #rightPrincipal{
        width: 30%;
        display: inline-block;
        
    }
    #sectionprincipal{
         width: 60%;
        display: inline-block; 
        float: right;
        
    }
    
    #leftPrincipal{
         width:39.6%;
        display: block;
        float: left;
        
    }
    #footerPrincipal{
    width: 100%;
        clear: both;
}
    
}
@media screen and(max-width : 620px){
    #principal{
        min-width: 300px;
}
}



*/






