*{
    padding: 0px;
    margin: 0px;
}
body{
    margin: 0 auto;
    align-content: center;
}
.header{
 background-color: rgba( 10, 9, 9, 0.986 );
padding: 20px;
 width:100%;
}

ul , ol{
    list-style: none;
}
.nav li a{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 1px 15px;
    display: block;
     
}
.nav >li{
    float: left;
}
.nav li a:hover{
    padding: 10px;
    background-color: rgba( 126, 107, 113, 0.156 );
}
.nav li ul{
    display:none;
    position: absolute;
    width: 140px;
}

.nav li:hover >ul {
    display: block;
}
.nav li ul li{
    position: relative;
    
}
.nav li ul li ul{
   right: -140px;
    top:0px; 
}



